<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Exceed_Orderexport>
            <version>0.1.0</version>
        </Exceed_Orderexport>
    </modules>
    <frontend>
        <routers>
            <orderexport>
                <use>standard</use>
                <args>
                    <module>Exceed_Orderexport</module>
                    <frontName>orderexport</frontName>
                </args>
            </orderexport>
        </routers>
    </frontend>
    <global>
        <models>
            <orderexport>
                <class>Exceed_Orderexport_Model</class>
                <resourceModel>orderexport_mysql4</resourceModel>
            </orderexport>
            <orderexport_mysql4>
                <class>Exceed_Orderexport_Model_Mysql4</class>
                <entities>
                    <orderexport>
                        <table>exceed_orderexport</table>
                    </orderexport>
                </entities>
            </orderexport_mysql4>       
        </models>
        <helpers>
            <orderexport>
                <class>Exceed_Orderexport_Helper</class>
            </orderexport>
        </helpers>
        <resources>
            <orderexport_setup>
                <setup>
                    <module>Exceed_Orderexport</module>
                    <class>Exceed_Orderexport_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderexport_setup>
            <orderexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderexport_write>
            <orderexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderexport_read>      
        </resources>      
    </global>
    <crontab>
        <jobs>
            <Exceed_Orderexport>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>orderexport/Observer::cronjob</model>
                </run>
            </Exceed_Orderexport>
        </jobs>
    </crontab>
</config>
